AddType text/html .shtml
AddHandler server-parsed .shtml
Options Indexes FollowSymLinks Includes
AddHandler server-parsed .html .htm

RewriteEngine On
RewriteRule ^694200/(.*)$ 694200/index.php?uri=$1 [L,QSA]