ul#playlist {
  display: flex;
  width: fit-content;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  gap: 0
}

li#item {
  display: flex;
  list-style: none;
  color: #191f38;
  margin: 5px auto;
  gap: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

li#item>p,
li#item>i {
  padding: 5px;
  background: bisque;
  border-radius: 5px;
}

li#item>p {
  text-align: right;
}

li#item>i {
  font-size: 20px;
  padding: 5px 10px;
}

div#audio-buttons {
  display: flex;
  align-self: center;
  background: bisque;
  width: fit-content;
  padding: 5px;
  gap: 2px;
  border-radius: 200px;
}

.fa-play:hover {
  padding-left: 14px !important;
  margin-right: 4px !important;
}

.fa-pause:hover {
  padding: 10px 12px !important;
}

#audio-buttons>i {
  color: #191f38;
  font-size: 20px;
  background: bisque;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.3s ease;
}

#audio-buttons>i:hover {
  background: #191f38;
  color: bisque;
  transition: all 0.3s ease;
}


div#audio-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

div#playlist-buttons {
  display: flex;
  align-items: center;
  width: fit-content;
  align-self: center;
  height: 35px;
  padding: 5px;
  gap: 5px;
  margin-bottom: -15px;
}

input#item-text-input {
  border-radius: 5px;
  height: 100%;
  margin-bottom: 5px;
}

i#add-title-button:hover {
  cursor: pointer;
}